#choropleth_map { 
	margin: auto;
}

body{
	background-color:white;
}
h1{
	text-align: center;
	font-size: 150%;
}
.page {
    width: 80%;
    background-color:#cccccc;
    margin: auto;
}
#small_font{
	font-size: 14px;
	color: grey;
	margin-bottom: 50px;
}

#donut_chart{ 
	margin-top: 20px;
}