#choropleth_map { 
	margin: auto;
}

body{
	background-color:#cccccc;
}
h1{
	text-align: center;
	font-size: 150%;
}
.page {
    width: 1500px;
    background-color:#cccccc;
    margin: auto;
    padding: 10px;
    padding-top: 10px;
}
#small_font{
	font-size: 14px;
	color: grey;
	margin-bottom: 50px;
}

#donut_chart{ 
	margin-top: 20px;
}